:root {
  /* fonts */
  --font1: 'Roboto', sans-serif;
  --font2: 'Permanent Marker', cursive;
  /* colors */
  /* -shades of yellow */
  --yellow1: #e4fc2b;
  --yellow2: #e0d426;
  --yellow3: #f7d736;
  --yellow4: #e0af26;
  --yellow5: #fcb02b;
  /* -shades of grey */
  --grey1: #2c2c2c;
  --grey2: #4c4c4c;
  /* - black */
  --faded_black: rgba(0,0,0,0.5);
  /* shadows */
  --shadow_ab: 0 2px 8px var(--faded_black);
  --shadow_fc: 0 5px 10px var(--faded_black);
}

/* CARD SUBCLASS PARAMS */
/* colors */
.card-color-1 { background-color:#ead3a7; }
.card-color-2 { background-color:#9de0f5; }
.card-color-3 { background-color:#ef89ba; }
.card-color-4 { background-color:#fae890; }
.card-color-5 { background-color:#abe9c1; }
/* angles */
.card-rotation-1 { transform: rotate(-5deg); }
.card-rotation-2 { transform: rotate(-4deg); }
.card-rotation-3 { transform: rotate(-3deg); }
.card-rotation-4 { transform: rotate(-2deg); }
.card-rotation-5 { transform: rotate(-1deg); }
.card-rotation-6 { transform: rotate(0deg); }
.card-rotation-7 { transform: rotate(1deg); }
.card-rotation-8 { transform: rotate(2deg); }
.card-rotation-9 { transform: rotate(3deg); }
.card-rotation-10 { transform: rotate(4deg); }
.card-rotation-11 { transform: rotate(5deg); }

/* DOCUMENT */
html, body {
  font-family: var(--font1);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* COMPONENTS */
/* appbar */
.appbar {
  display: flex;
  flex-direction: row;
  background-color: var(--yellow3);
  box-shadow: var(--shadow_ab);  
}
.logo {
  display: flex;
  width: 80px;
  padding: 5px;
}
.subtitle {
  display: flex;
  align-items: center;
  font-size: 90%;
  margin-left: 2%;
} 
/* form card */
.form-card {
  margin: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: 8px;
  box-shadow: var(--shadow_fc);
}
.form-card-title, input{
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0;
  font-weight: 500;
  color: var(--grey2);
}
.autoresize {
  border: none;
  outline: none;
  resize: none;
  margin-top: 10px;
  padding: 0;
  margin-bottom: 5px;
  font-family: var(--font1);
  font-weight: 400;
}
.btn {
  padding: 5px;
  border: none;
  background-color: var(--yellow3);
  border-radius: 3px;
  font-family: var(--font1);
  font-weight: 500;
  cursor: pointer;
}
/* cards */
/* card container */
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* card */
.card {
  font-family: var(--font2);
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 220px;
  padding: 10px;
  margin: 8px;
  margin-bottom: 15px;
  box-shadow: var(--shadow_fc);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}
.card-title {
  font-size: 20px;
  margin-bottom: 8px;
}
.card-content {
  color: var(--grey2);
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}