:root {
  /* fonts */
  --font1: 'Roboto', sans-serif;
  --font2: 'Permanent Marker', cursive;
  
  /* colors */
  /* -shades of yellow */
  --yellow1: #e4fc2b;
  --yellow2: #e0d426;
  --yellow3: #f7d736;
  --yellow4: #e0af26;
  --yellow5: #fcb02b;
  /* -shades of grey */
  --grey1: #2c2c2c;
  --grey2: #4c4c4c;
  /* - black */
  --faded_black: rgba(0,0,0,0.5);
  /* -card colors */
  --collor1: #ead3a7;
  --collor2: #9de0f5;
  --collor3: #ef89ba;
  --collor4: #fae890;
  --collor5: #abe9c1;

  /* shadows */
  --shadow_ab: 0 2px 8px var(--faded_black);
  --shadow_fc: 0 5px 10px var(--faded_black);
}

/* DOCUMENT */
html, body {
  font-family: var(--font1);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* COMPONENTS */
/* appbar */
.appbar {
  display: flex;
  flex-direction: row;
  background-color: var(--yellow3);
  box-shadow: var(--shadow_ab);  
}
.logo {
  display: flex;
  width: 80px;
  padding: .5%;
}
.subtitle {
  display: flex;
  align-items: center;
  font-size: 90%;
  margin-left: 2%;
} 
/* form card */
.form-card {
  margin: 5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 350px;
  border-radius: 8px;
  box-shadow: var(--shadow_fc);
}
.form-card-title, input{
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0;
  font-weight: 500;
  color: var(--grey2);
}
.autoresize {
  border: none;
  outline: none;
  resize: none;
  margin-top: 10px;
  padding: 0;
  margin-bottom: 5px;
  font-family: var(--font1);
  font-weight: 400;
}
.btn {
  padding: 5px;
  border: none;
  background-color: var(--yellow3);
  border-radius: 3px;
  font-family: var(--font1);
  font-weight: 500;
  cursor: pointer;
}


/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
/* .btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} */
